<!DOCTYPE html>
<html>
<head>
	<title>Akh's Catalogue Begin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 	<link rel="stylesheet" href="../static/css/street.css" type="text/css">
</head>
<body>
	<div class="container parent">
		<div class="jumbotron box">
			<h1 class="display-4 theme">Akh's Catalogue</h1>
			<p class="lead paragraf">Selamat berkunjung dan berbelanja, Aplikasi berbasis web ini bertujuan untuk membantu Pembeli dan Penjual dalam berinteraksi langsung melalui sosial media seperti whatsapp agar transaksi anda lebih aman.</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" role="button" href="/See-me">Berkunjung</a>
			</p>
		</div>
	</div>
</body>
</html>