<!DOCTYPE HTML>
<html>
<head>
	<title>Developer Information</title>
	<link rel="stylesheet" href="../static/css/Proyek.css" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
	<header>
		<h2 class="header">Akh's Catalogue</h2>
		<a class= "navheader" href="/See-me">See Me</a>
		<a class= "navheader" href="/Login-user-admin">Login</a>
	</header>
	<div class="container parentlogo">
		<h4 class="size"> Developed by: </h4><br>
		<div class="row justify-content-center">
			<a href="https://wa.me/082283218132" target="_blank" title="Whatsapp"><img src="../static/pict/gambar/whatsapp.png" class="childlogo"></a>
			<a href="http://github.com/akhfzz" target="_blank" title="untuk informasi source code"><img src="../static/pict/gambar/GitHub-Mark.png" class="childlogo"></a>
			<a href="https://t.me/Akhfzl" target="_blank" title="Telegram"><img src="../static/pict/gambar/telegram.png" class="childlogo"></a>
			<a href="https://www.instagram.com/akhfzl_?r=nametag" target="_blank" title="sosial media IG"><img src="../static/pict/gambar/instagram.png" class="childlogo"></a>
		</div>	
	</div>
</body>
</html>